html
{
    scroll-behavior: smooth;
}
.navbar
{
    background-color: #C7E7FF;
}

.navbar .navbar-expand-lg
{
    background-color: #C7E7FF;
}
.section{
    position: absolute;
    left: 10%;
    bottom: 15%;
    width: 80%;
    height: 60%;
}
#At{
    width: 20%;
    height: 75px;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 99px;
    top: 2%; 
}
#Fa{
    width: 20%;
    height: 75px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 99px;
    top: 22%;
}
#Ua{
    width: 20%;
    height: 75px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 99px;
    top: 42%;
}
#Re{
    width: 20%;
    height: 75px;
    font-size: 29px;
    font-weight: bold;
    position: absolute;
    left: 99px;
    top: 62%;
}
#Ho{
    width: 20%;
    height: 75px;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    left: 99px;
    top: 82%;
}
.footer{
    position: absolute;
    bottom: 0px;
    height: 81px;
    width: 100%;
    
}
#Facebook{
    position: absolute;
    right: 99px;
    color:white;
    font-size: 20px;
    text-decoration:none;
}
#Instagram{
    position: absolute;
    right: 99px;
    top: 28px;
    color:white;
    font-size: 20px;
    text-decoration:none;
}
#Twitter{
    position: absolute;
    right: 99px;
    top: 51px;
    color:white;
    font-size: 20px;
    text-decoration:none;
}
#Telefone{
    color: white;
    position: absolute;
    left: 100px;
    top: 25px;
    font-size: 15px;
    text-decoration:none;/*comando para tira a linha que fica embaixo do a*/
}

#iconee{
    left: 30%;
}
@media only screen and (max-width: 950px){ /*enquanto a largura da tela for + q 950 px adc esses elementos*/
   

  .navbar{
   height: 8%;
   width: 100%;
  }
   .navbarnavbar-expand-lg{
    height: 20%;
  } 
  #navbar-brand{
    left: 10%;
  }
    #At{
   top: 20%; 
   left: 25%;
   width: 30%;
 }
 #Fa{
    top: 39%; 
    left: 25%;
    width: 30%;
  }
  #Ua{
    top: 58%; 
    left: 25%;
    width: 30%;
  }
  #Re{
    top: 77%; 
    left: 25%;
    width: 30%;
 }
 #Ho{
    top: 96%; 
    left: 25%;
    width:30%;
 }  

 .footer{
    top: 99%;
 }
 #Facebook{
    top: 2%; 
    left: 75.2%;
 }
 #Instagram{
    top: 37%; 
    left: 75%;
 }
 #Twitter{
    top: 67%; 
    left: 78%;
}
#Telefone{
top: 20%; 
 left: 5%;
}
 #container{
  width: 90%;
} 

@media screen and ( max-width: 650px)
{
   #navbar-brand{
     left: 60%;
   }
     #At{
    top: 20%; 
    left: 25%;
    width: 43%;
  }

  #Fa{
     top: 39%; 
     left: 25%;
     width: 43%;
   }
   #Ua{
     top: 58%; 
     left: 25%;
     width: 43%;
   }
   #Re{
     top: 77%; 
     left: 25%;
     width: 43%;
  }
  #Ho{
     top: 96%; 
     left: 25%;
     width:43%;
  }  
  #Facebook{
     top: 0; 
     left: 65%;
  }
  #Instagram{
     top: 34%; 
     left: 65%;
  }
  #Twitter{
     top: 64%; 
     left: 69%;
 }
 #Telefone{
 top: 20%; 
  left: 5%;
 }
  #container{
   width: 90%;
 } 
@media screen and ( max-width: 600px)
{
  #navbar-brand{
    left: 60%;
  }
    #At{
   top: 20%; 
   left: 25%;
   width: 48%;
 }

 #Fa{
    top: 39%; 
    left: 25%;
    width: 48%;
  }
  #Ua{
    top: 58%; 
    left: 25%;
    width: 48%;
  }
  #Re{
    top: 77%; 
    left: 25%;
    width: 48%;
 }
 #Ho{
    top: 96%; 
    left: 25%;
    width:48%;
 }  
 #Facebook{
    top: 0; 
    left: 65%;
    font-size: 100%;
 }
 #Instagram{
    top: 34%; 
    left: 65%;
    font-size: 100%;
 }
 #Twitter{
    top: 64%; 
    left: 69%;
    font-size: 100%;
}
#Telefone{
top: 20%; 
 left: 5%;
}
 #container{
  width: 90%;
} 
 @media screen and (max-width:500px)
 {
  #navbar-brand{
    left: 60%;
  }
    #At{
   top: 20%; 
   left: 25%;
   width: 55%;
 }

 #Fa{
    top: 39%; 
    left: 25%;
    width: 55%;
  }
  #Ua{
    top: 58%; 
    left: 25%;
    width: 55%;
  }
  #Re{
    top: 77%; 
    left: 25%;
    width: 55%;
 }
 #Ho{
    top: 96%; 
    left: 25%;
    width:55%;
 }  
 #Facebook{
    top: 0; 
    left: 60%;
    font-size: 90%;
 }
 #Instagram{
    top: 34%; 
    left: 60%;
    font-size: 90%;
 }
 #Twitter{
    top: 64%; 
    left: 64%;
    font-size: 90%;
}
#Telefone{
top: 20%; 
 left: 2%;
}
 #container{
  width: 90%;
} 
 }
  @media screen and (max-width:400px)
  {
    #navbar-brand{
      left: 60%;
    }
      #At{
     top: 20%; 
     left: 20%;
     width: 69%;
   }
  
   #Fa{
      top: 39%; 
      left: 20%;
      width: 69%;
    }
    #Ua{
      top: 58%; 
      left: 20%;
      width: 69%;
    }
    #Re{
      top: 77%; 
      left: 20%;
      width: 69%;
   }
   #Ho{
      top: 96%; 
      left: 20%;
      width:69%;
   }  
   #Facebook , .Facebook{
      top: 0; 
      left: 80%;
      font-size: 0%;
   }
   #Instagram, .Instagram{
    top: 35%; 
    left: 80%;
    font-size: 0%;
   }
   #Twitter, .Twitter{
    top: 70%; 
    left: 80%;
    font-size: 0%;
  }
  #Telefone{
  top: 20%; 
   left: 2%;
  }
   #container{
    width: 90%;
  } 

   }
}
}

}